/*----------nav bar-----------*/
body{
    background-color: #fcfcfc;
    overflow-x: hidden;
}
nav {
    background-color: #fcfcfc;
    margin: 0;
    padding: 0;
     box-shadow: 13px 13px 20px #d6d6d6,
                -13px -13px 20px #d6d6d6;
    overflow-x: hidden;
}

.item1 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.item2 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.item3 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.dropdown {
    background-color: aliceblue;

}

.brand-name {
    color: #0066ff;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.logoimg {
    height: 40px;
    width: 40px;
    border-radius: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
    
}


.navbtn {
    margin-left: 20px;
    height: 40px;
    width: 60px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navbtn:hover {
    background-color: #8D7490;
    color: white;
}

.contactbtn {
    margin-left: 20px;
    height: 40px;
    width: 100px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #fcfcfc;
    color: #0066ff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
     box-shadow: 5px 5px 20px #d6d6d6,
                -5px -5px 20px #d6d6d6;
}

.contactbtn:hover {
    background-color: #8D7490;
    color: white;
}

.loginbtn {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    width: 100px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.loginbtn:hover {
    background-color: #8D7490;
    color: white;
}

.signbtn {
    margin-left: 20px;
    height: 40px;
    width: 100px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: #E5E4E2;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.signbtn:hover {
    background-color: #8D7490;
    color: white;
}
.col1{
    background-color: #fcfcfc;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 13px 13px 20px #d6d6d6,
                -13px -13px 20px #d6d6d6;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.loginimg{
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    margin-top: 15px;
     box-shadow: 13px 13px 20px #d6d6d6,
                -13px -13px 20px #d6d6d6;
    margin-bottom: 15px;
}
.loginline{
    text-align: center;
    color: #0066ff;
    font-family: serif;
    text-transform: capitalize;
    font-size-adjust: auto;
}
form{
    margin-left: auto;
    margin-right: auto;
}
label{
    color: #0066ff;
    font-family: serif;
    text-transform: capitalize;
    font-size: 20px;
    font-size-adjust: auto;
}
input{
    border-radius: 10px;
    border: none;
    background-color: transparent;
     box-shadow: 13px 13px 20px #d6d6d6,
                -13px -13px 20px #d6d6d6;
    height: 40px;
    width: 280px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.lbtn{
    background-color: #0066ff;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}
.lbtn:hover{
    background-color: darkred;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}
/*----  ----footer----- --------*/
.f1 {
    background-color: #fcfcfc;
    box-shadow: 13px 13px 20px #d6d6d6,
                -13px -13px 20px #d6d6d6;
    overflow-x: hidden;
}

.infomationtag {
    text-align: center;
    color: #0066ff;
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
}

.ourservicesheader {
    text-align: left;
    color: #0066ff;
    font-size: 18px;
    font-style: italic;
    text-transform: capitalize;
    margin-top: 10px;
}

.ourservicesparagraph {
    font-size: 15px;
    color: #0066ff;
    margin-top: 10px;
    font-family: serif;
}

.copyrightline {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    color: #0066ff;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: serif;
}